{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
	{{ block.super }} - Tag List
{% endblock %}

{% block content %}
	<h2>Tag List</h2>

	<ul>
	{% for tag in tag_list%}
		<li><a href="{{ tag.get_absolute_url }}">{{ tag.name|title }}</a></li>
	{% empty %}
		<li><em>No tags to show</em></li>
		<ul>
			<li><a href="{{ tag.get_update_url }}">edit tag</a></li>
		</ul>
	{% endfor %}
	</ul>
	{% if is_paginated %}
		<ul>
			{% if previous_page_url %}
				<li><a href="{{ previous_page_url }}">previous</a></li>
			{% endif %}
			<li>Page {{ tag_list.number }} of {{ paginator.num_pages }}</li>
			{% if next_page_url %}
				<li><a href="{{ next_page_url }}">next</a></li>	
			{% endif %}
		</ul>
	{% endif %}

{% endblock %}